  body{
  	background-color: #E5E4E2;
  	font: 68% "Trebuchet MS", sans-serif;
  	margin: 50px;
  }

  .demoHeaders {
  	margin-top: 2em;
  }

  #dialog-link {
  	padding: .4em 1em .4em 20px;
  	text-decoration: none;
  	position: relative;
  }

  #dialog-link span.ui-icon {
  	margin: 0 5px 0 0;
  	position: absolute;
  	left: .2em;
  	top: 50%;
  	margin-top: -8px;
  }

  #icons {
  	margin: 0;
  	padding: 0;
  }

  #icons li {
  	margin: 2px;
  	position: relative;
  	padding: 4px 0;
  	cursor: pointer;
  	float: left;
  	list-style: none;
  }

  #icons span.ui-icon {
  	float: left;
  	margin: 0 4px;
  }

  .fakewindowcontain .ui-widget-overlay {
  	position: absolute;
  }

  .gridStyle {
  	margin: 10px;
  	border: 1px solid rgb(212,212,212);
  	height: 500px
  }

  .container{
  	display: inline-block;
  	width: 80%;
  }

  .filterStyle label{
  	display: inline-block;
  	border-color: black;
  }

  .width30{
  	width: 30%;
  }

  .centerText{
  	text-align: center;
  }

  .alignRight label{
  	text-align: right;
  }

  .alignLeft label{
  	text-align: left;
  }

  .filterStyle input{
  	width: 60%;
  	font-weight: bold;
  	border-color: black;
  }

  .main{
  	width: 80%;
  	text-align: center;
  	border: thin;
  	border-color: grey;
  }

  .filterStyle{
  	float: left;
  	width: 50%;
  }

  .filterButton {
  	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
  	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
  	background-color:#9dce2c;
  	-webkit-border-top-left-radius:15px;
  	-moz-border-radius-topleft:15px;
  	border-top-left-radius:15px;
  	-webkit-border-top-right-radius:15px;
  	-moz-border-radius-topright:15px;
  	border-top-right-radius:15px;
  	-webkit-border-bottom-right-radius:15px;
  	-moz-border-radius-bottomright:15px;
  	border-bottom-right-radius:15px;
  	-webkit-border-bottom-left-radius:15px;
  	-moz-border-radius-bottomleft:15px;
  	border-bottom-left-radius:15px;
  	text-indent:0;
  	border:2px solid #ffffff;
  	display:inline-block;
  	color:#ffffff;
  	font-family:Arial;
  	font-size:18px;
  	font-weight:bold;
  	font-style:normal;
  	height:44px;
  	line-height:44px;
  	width:107px;
  	text-decoration:none;
  	text-align:center;
  	text-shadow:1px 1px 11px #689324;
  }

  .filterButton:hover {
  	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
  	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
  	background-color:#8cb82b;
  	}.filterButton:active {
  		position:relative;
  		top:1px;
  	}