<!DOCTYPE html>
<html ng-app="mgb-inventory">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>MGB Inventory</title>
  <link rel="stylesheet" type="text/css" href="http://angular-ui.github.com/ng-grid/css/ng-grid.css" />
  <link rel="stylesheet" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/overcast/jquery-ui.css" />
</head>
<body ng-controller="MgbInventoryCtrl">

  <div class="container">
    <div class="filterStyle alignRight">

      <label>ID:</label>
      <input type="text" ng-model="filterId" />
      <br />
      <label>Region:</label>
      <input type="text" ng-model="filterRegion" />
      <br />
      <label>Contractor:</label>
      <input type="text" ng-model="filterContractor" />
      <br />
      <label>Commodity:</label>
      <input type="text" ng-model="filterCommodity" />
      <br />
      <label>Stage:</label>
      <input type="text" ng-model="filterStage" />
      <br />
    </div>
    <div class="filterStyle alignRight">  

      <label>Location:</label>
      <input type="text" ng-model="filterLocation" />
      <br />
      <label>Contact Person:</label>
      <input type="text" ng-model="filterContactPerson" />
      <br />

      <fieldset>
        <input type="radio" style="width: 10%;" name="level" id="m" value="Metallic" ng-model='filterMetallicOrNonMetallic'>
        <label for="m" style="text-align: left; width: 80%;">Mettalic</label>
        <input type="radio" style="width: 10%;" name="level" id="nm" value="Non-Metallic" ng-model='filterMetallicOrNonMetallic'>
        <label for="nm" style="text-align: left; width: 80%;">Non-Mettalic</label>
        <input type="radio" style="width: 10%;" name="level" id="all" value="" ng-model='filterMetallicOrNonMetallic'>
        <label for="nm" style="text-align: left; width: 80%;">All</label>
      </fieldset>
      <br />
    </div>

    <div align="center">
      <button ng-click="activateFilter()">Run Filter</button>
      <br />
    </div>
  </div>
  <br />
  <div class="gridStyle" ng-grid="gridOptions"></div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
  <script type="text/javascript" src="http://angular-ui.github.com/ng-grid/lib/ng-grid.debug.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/app.js"></script>
</body>
</html>