<!DOCTYPE html>
<html ng-app="mgb-inventory">
<head>
  <meta charset="UTF-8">
  <title>MGB Inventory</title>
  <link rel="stylesheet" type="text/css" href="css/ng-grid.css" />
  <link rel="stylesheet" href="css/style.css"/>
  <link rel="stylesheet" href="css/start/jquery-ui-1.10.3.custom.css" />
</head>
<body ng-controller="MgbInventoryCtrl">

  <div class="main">
    <div>
      <img src="img/1.jpg" height="60px" style="padding: 10px;" alt="MGB Logo" align="left" />
      <h1 style="padding-top:30px;vertical-align:bottom;text-align:left;" >MGB MPSA Inventory</h1>
      <hr width="100%" />
    </div>
    
    <div class="container">
      <div class="filterStyle alignRight">

        <label class="width30">ID:</label>
        <input type="text" ng-model="filterId" />
        <br />
        <label class="width30">Region:</label>
        <input type="text" ng-model="filterRegion" />
        <br />
        <label class="width30">Contractor:</label>
        <input type="text" ng-model="filterContractor" />
        <br />
        <label class="width30">Commodity:</label>
        <input type="text" ng-model="filterCommodity" />
        <br />
        <label class="width30">Stage:</label>
        <input type="text" ng-model="filterStage" />
        <br />
      </div>
      <div class="filterStyle alignRight">  

        <label class="width30">Location:</label>
        <input type="text" ng-model="filterLocation" />
        <br />
        <label class="width30">Contact Person:</label>
        <input type="text" ng-model="filterContactPerson" />
        <br />

        <div id="radioset" class="centerText" align="center" style="margin: 1em; width: 100%;">
          <input type="radio" name="radio" id="m" value="Metallic" ng-model='filterMetallicOrNonMetallic'><label for="m">Mettalic</label>
          <input type="radio" name="radio" id="nm" value="Non-Metallic" ng-model='filterMetallicOrNonMetallic'><label for="nm">Non-Mettalic</label>
          <input type="radio" name="radio" id="all" value="" ng-model='filterMetallicOrNonMetallic'><label for="all">All</label>
        </div>

        <br />
      </div>
    </div>
    <div align="right" style="padding: 10px;">
      <button class="button" ng-click="activateFilter()">Run Filter</button>
    </div>
    <div>
      <div class="gridStyle" ng-grid="gridOptions"></div>
    </div> 
  </div>
  <script src="lib/jquery-1.9.1.js"></script>
  <script src="lib/jquery-ui-1.10.3.custom.js"></script>
  <script type="text/javascript" src="lib/angular.min.js"></script>
  <script type="text/javascript" src="lib/ng-grid.debug.js"></script>
  <script>
    $(function() {
      $( ".button" ).button();
      $( "#radioset" ).buttonset();
    });
  </script>
  <script type="text/javascript" src="js/services.js"></script>
  <script type="text/javascript" src="js/controllers.js"></script>
  <script type="text/javascript" src="js/filters.js"></script>
  <script type="text/javascript" src="js/directives.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>